<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment::head"></head>
<body>

<nav th:replace="fragments/fragment::navigation" ></nav>

<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black bg-light">



        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem;" th:action="@{/products/add}" method="post" th:object="${productModel}">

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add product</h3>

            <div class="form-outline mb-4">
              <input type="text" th:field = "*{name}" id="name" th:errorclass="is-invalid" name="name"  class="form-control form-control-lg" />
              <label class="form-label" for="name">Product name</label>
              <p class="invalid-feedback errors alert alert-danger">
                Product name is required and should be between 3 and 30 symbols.
              </p>
            </div>

            <div class="form-outline mb-4">
              <input type="text" th:field = "*{size}" id="size" th:errorclass="is-invalid" name="size" class="form-control form-control-lg" />
              <label class="form-label" for="size">Size</label>
              <p class="invalid-feedback errors alert alert-danger">
                Size is required.
              </p>
            </div>

            <div class="form-outline mb-4">
              <input type="number" th:field = "*{price}" id="price" th:errorclass="is-invalid" name="price" class="form-control form-control-lg" />
              <label class="form-label" for="price">Price</label>
              <p class="invalid-feedback errors alert alert-danger">
                Price is required.
              </p>
            </div>

            <div class="form-outline mb-4">
              <input type="text" th:field = "*{description}" id="description" th:errorclass="is-invalid" name="description" class="form-control form-control-lg" />
              <label class="form-label" for="description">Description</label>
              <p class="invalid-feedback errors alert alert-danger">
                Description of the product is required.
              </p>
            </div>

            <div class="form-outline mb-4">
              <input type="text" th:field = "*{teamName}" id="teamName" th:errorclass="is-invalid" name="teamName" class="form-control form-control-lg" />
              <label class="form-label" for="teamName">Team name</label>
              <p class="invalid-feedback errors alert alert-danger">
                Name of team is required.
              </p>
            </div>

            <div class="form-outline mb-4">
              <input type="text" th:field = "*{photoUrl}" id="photoUrl" th:errorclass="is-invalid" name="photoUrl" class="form-control form-control-lg" />
              <label class="form-label" for="photoUrl">Photo URL</label>
              <p class="invalid-feedback errors alert alert-danger">
                Photo URL for product is required.
              </p>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="productCondition">Product condition</label>
              <select th:errorclass="is-invalid" name="productCondition" id="productCondition" class="form-control">
                <option value="">- Select product condition -</option>
                <option th:each="t : ${T(com.example.shirts.model.entity.ProductConditionEnum).values()}"
                        th:text="${t}" th:value="${t}" th:selected="${t} == *{productCondition}"
                > Product condition</option>
              </select>
              <p class="invalid-feedback errors alert alert-danger">
                Product condition is required.
              </p>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="type">Product type</label>
              <select th:errorclass="is-invalid" name="type" id="type" class="form-control">
                <option value="">- Select product type -</option>
                <option th:each="t : ${T(com.example.shirts.model.entity.ProductTypeEnum).values()}"
                        th:text="${t}" th:value="${t}" th:selected="${t} == *{type}"
                > Product type</option>
              </select>
              <p class="invalid-feedback errors alert alert-danger">
                Product type is required.
              </p>
            </div>


            <div class="pt-1 mb-4">
              <button class="btn btn-success btn-lg btn-block" type="submit">Add product</button>
            </div>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="http://www.kickstothepitch.com/wp-content/uploads/2019/05/classic-football-shirts-noise-reduce-web-2.jpg"
             alt="Product add image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>

</body>

<footer th:replace="fragments/fragment::footer"></footer>

</html>