<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment::head"></head>

<body>

<nav th:replace="fragments/fragment::navigation"></nav>

<div class="card bg-dark text-white">
    <img class="card-img"
         src="https://s3.amazonaws.com/nikeinc/assets/10086/Nike_Home_NTK_group_shot_3_RGB_hd_1600.jpg?1334688959"
         alt="Card image">
    <div class="card-img-overlay">
        <h3 class="card-title text-center">Get your kit collection to another level!</h3>
    </div>
</div>
</body>

<!-- Footer -->
<footer th:replace="fragments/fragment::footer"></footer>
<!-- Footer -->

</html>